In [1]:
print "Hello World"

Hello World

In [3]:
i = 4

In [4]:
f = 4.2

# Getting Started With Python
## First goal:
* Learn variable
* Learn function

In [5]:
print "%s and %s" %(i, f)

4 and 4.2

In [6]:
HELP

NameError: name 'HELP' is not defined

In [7]:
help

Type help() for interactive help, or help(object) for help about object.

In [ ]:
help()

Welcome to Python 2.7!  This is the online help utility.

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at http://docs.python.org/2.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, or topics, type "modules",
"keywords", or "topics".  Each module also comes with a one-line summary
of what it does; to list the modules whose summaries contain a given word
such as "spam", type "modules spam".

help> shortcuts
no Python documentation found for 'shortcuts'

help> textbox
no Python documentation found for 'textbox'

# Test

In [14]:
import graphlab

In [15]:
sf = graphlab.SFrame('people-example.csv')

2016-04-17 17:44:16,761 [INFO] graphlab.cython.cy_server, 176: GraphLab Create v1.8.5 started. Logging: /tmp/graphlab_server_1460940254.log

Finished parsing file /Users/Jace/people-example.csv

Parsing completed. Parsed 7 lines in 0.029679 secs.

This non-commercial license of GraphLab Create is assigned to yil261@ucsd.edu and will expire on April 17, 2017. For commercial licensing options, visit https://dato.com/buy/.
------------------------------------------------------

Finished parsing file /Users/Jace/people-example.csv

Parsing completed. Parsed 7 lines in 0.01703 secs.

Inferred types from first line of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

In [16]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:49839/index.html
Opening Canvas in default web browser.

In [17]:
graphlab.canvas.set_target('ipynb')

In [18]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [19]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [20]:
sf.show()

In [21]:
sf['age'].show()

In [22]:
sf['age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

In [23]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [24]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [25]:
sf.show()

In [26]:
def transform_country(country):
    if country == 'USA':
        return "United States"
    else:
        return country

In [27]:
sf.apply(transform_country)

RuntimeError: Runtime Exception. Cannot evaluate lambda. Lambda workers cannot not start.

In [28]:
sf['country'].apply(transform_country)

RuntimeError: Runtime Exception. Column name country does not exist.

In [29]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [30]:
sf['Country'].apply(transform_country)

RuntimeError: Runtime Exception. Cannot evaluate lambda. Lambda workers cannot not start.

In [31]:
transform_country('USA')

'United States'

In [32]:
transform_country('Brazil')

'Brazil'